conda {
    useMamba = true
}

process {
    conda.enabled = true
    withLabel: 'snippy' {
        errorStrategy='ignore'
        conda="${projectDir}/envs/snippy.yaml"
    }
    withLabel: 'blast' {
        errorStrategy='ignore'
        conda="${projectDir}/envs/blast.yaml"
    }
    withLabel: 'snpdist' {
        errorStrategy='ignore'
        conda="${projectDir}/envs/snpdist.yaml"
    }
}